@model IEnumerable<MvcBase.Web.ViewModels.PropertySpaceListViewModel>

@{
    ViewBag.Title = "Manage Property Spaces";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add New Property Space", "Create", new { @id = ViewBag.PropertyId }, new { @class = "btn btn-primary btn-lg" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Suite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSpaceAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearBuilt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAvailable)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Suite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSpaceAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearBuilt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
    
</table>