<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="@ViewBag.NavProperty">@Html.ActionLink("Property", "Edit", "Property", new { @id = ViewBag.PropertyId }, null)</li>
        <li class="@ViewBag.NavPropertySpace">
            <a href="@Url.Action("Index", "PropertySpace", new { @id = ViewBag.PropertyId }, null)">
                <span class="pull-right badge">12</span> Property Space
            </a>
        </li>
        <li class="@ViewBag.NavFeatures"><a href="#">Property Features</a></li>
        <li class="@ViewBag.NavMedia"><a href="#">Media Attachments</a></li>
    </ul>
</div>